.ModalIntel {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 0 20px;
    box-sizing: border-box;
    overflow-x: hidden;

    a {
        text-decoration: none;
        color: inherit;
        outline: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        align-items: center;
    }

    .back_btn {
        position: absolute;
        left: 33px;
        top: 33px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        width: 110px;
        height: 46px;
        font-size: 12px;
        font-family: var(--font-family-main);
        border: 1px solid var(--gray-color);
        color: var(--gray-color);
        border-radius: 16px;

        .arrow_icon {
            width: 12px;
            height: 12px;
            fill: var(--gray-color);
        }

        .text_arrow_btn {
            margin: 0;
        }

        &:hover {
            border-color: var(--green-color);
            color: var(--green-color);

            .arrow_icon {
                fill: var(--green-color);
            }
        }
    }
}

.glow_left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 500px;
    height: 500px;
    z-index: 1;
    background: var(--green-color);
    filter: blur(80px);
    opacity: 0.1;
    pointer-events: none;
}

.glow_right {
    position: absolute;
    right: 0;
    top: -250px;
    width: 500px;
    height: 500px;
    z-index: 1;
    background: var(--green-color);
    filter: blur(150px);
    opacity: 0.2;
    pointer-events: none;
}

.modal_container {
    width: 690px;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 70px 0 20px;

    .content_wrapper {
        flex: 1;
        overflow-y: auto;
        padding: 0 10px;
        margin: 0 -10px;
    }

    .main_form {
        width: 100%;
        max-width: 435px;
        margin: 0 auto;

        .block_logo {
            display: flex;
            align-items: start;
            justify-content: center;

            .logo {
                width: 80px;
                height: 80px;
            }
        }

        .text_hello {
            font-size: 24px;
            margin-top: 20px;
            color: white;
            font-family: var(--font-family-main);
            text-align: center;
        }

        .register_text {
            margin-top: 8px;
            font-size: 14px;
            font-family: var(--font-family-main);
            color: var(--gray-color);
            white-space: nowrap;
            justify-content: center;
            display: flex;
            gap: 5px;

            a {
                color: var(--green-color);
            }
        }

        .form {
            margin-top: 15px;
        }
    }

    .block2 {
        margin-top: auto;
        margin-bottom: 10px;

        .line {
            display: block;
            width: 100%;
            max-width: 680px;
            height: 1px;
            background-color: var(--gray-color);
            margin: 0 auto 20px;
        }

        .polit {
            font-size: 10px;
            font-family: var(--font-family-main);
            max-width: 368px;
            text-align: center;
            margin: 0 auto;
        }
    }
}

@media (max-width: 768px) {
    .ModalIntel {
        padding: 0 16px;
    }

    .modal_container {
        padding: 30px 0 15px;
    }

    .back_btn {
        left: 16px;
        top: 16px;
    }
}

.login_button{
    box-sizing: border-box;
    border: solid 2px var(--green-color) !important;
    background: linear-gradient(
        115deg,
        var(--bg-color) 0%,
        var(--bg-color) 48.7%,
        white 49%,
        white 51%,
        var(--green-color) 51.3%,
        var(--green-color) 100%
    ) !important;
    background-size: 220% 100% !important;
    background-position: 100% 0 !important;
    transition: background-position 0.4s ease !important;
    &:hover{
        background-position: 0 0 !important;
    }
}