.input {
    width: 100%;
    background: rgb(10 10 15 / 50%);
    border: 1px solid rgb(255 255 255 / 30%);
    border-radius: 14px;
    padding: 14px;
    margin-bottom: 15px;
    font-size: 16px;
    outline: none;
    color: #fff;
    margin-top: 10px;
    z-index: 140;
    opacity: 1;

    &::placeholder {
        color: rgb(255 255 255 / 60%);
    }

    &:focus {
        background: rgb(10 10 15 / 70%);
        border-color: #828bb4;
    }

    &:-webkit-autofill {
        box-shadow: 0 0 0 1000px rgb(10 10 15 / 50%) inset;
        transition: background-color 5000s ease-in-out 0s;
    }
}
