.blue {
    // синие
    --bg-color-team: #0b1024;
    --bg-color-team-light: #3021ff;
    --inverted-bg-color-team: #190a0f;
    --secondary-color-team: #102750;
    --primary-color-team: #589be9;
    --inverted-primary-color-team: #ee3131;
    --border-color: #679ed6;
}
