.red {
    // красные
    --bg-color-team: #190a0f;
    --bg-color-team-light: #9d070a;
    --inverted-bg-color-team: #0b1024;
    --secondary-color-team: #4b0f19;
    --primary-color-team: #ee3131;
    --inverted-primary-color-team: #589be9;
    --border-color: #dd2525;
}
