.main_block {
    border-bottom: 3px solid var(--bg-color);
    border-top: 3px solid var(--bg-color);
    overflow: hidden;
    opacity: 0;
    transform: translateX(-40px);
    animation: animationleft 0.4s ease forwards;

    .block_description {
        padding: 0 25px;
        color: var(--secondary-color2);
        background-color: var(--inverted-bg-color2);
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;

        &.open {
            max-height: 300px;
            padding: 20px 25px;
        }

        .description_title {
            font: var(--font-l-b);
            margin: 0;
        }

        .description_text {
            font: var(--font-s-b);
            margin-top: 13px;
            margin-left: 0;
            margin-right: 0;
            max-width: 450px;
        }

        .button_visit {
            box-sizing: border-box;
            box-shadow: inset 0 0 0 2px var(--green-color);
            justify-self: end;
            margin-top: 15px;
            font: var(--font-s-b);
            background:
                linear-gradient(
                    115deg,
                    var(--bg-color) 0%,
                    var(--bg-color) 48.7%,
                    white 49%,
                    white 51%,
                    var(--green-color) 51.3%,
                    var(--green-color) 100%
                );
            background-size: 220% 100%;
            background-position: 100% 0;
            transition: background-position 0.6s ease;

            &:hover {
                background-position: 0 0;
            }
        }
    }

    .LabItem {
        background-color: var(--inverted-bg-color2);
        padding: 10px 25px 10px 15px;
        cursor: pointer;
        border: 1px solid transparent;

        &.border {
            border: 1px solid var(--green-color);
        }

        .block_head {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
                font: var(--font-l-b);
                color: var(--primary-color);
                margin-left: 10px;
            }

            .status {
                margin-top: 8px;
                font: var(--font-l-b);

                &.inProgress {
                    color: var(--yellow-color);
                }

                &.notSolved {
                    color: var(--primary-color);
                }

                &.solved {
                    color: var(--green-color);
                }
            }
        }

        .block_foot {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;

            .tags {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 5px;

                .tag {
                    font: var(--font-m-b);
                    border-radius: 42px;
                    padding: 2px 14px;
                    color: var(--secondary-color2);
                    background-color: #121212;
                }
            }

            .difficulty {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 13px;
                margin-top: 3px;
                font: var(--font-l-b);

                .text_difficulty {
                    color: var(--secondary-color2);
                    margin: 0;
                }

                .block_difficulty {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: 8px;

                    &.hard {
                        .difficulty_span1,
                        .difficulty_span2,
                        .difficulty_span3 {
                            background-color: var(--red-color);
                            border-radius: 50%;
                            width: 16px;
                            height: 16px;
                        }
                    }

                    &.easy {
                        .difficulty_span1 {
                            background-color: var(--green-color);
                            border-radius: 50%;
                            width: 16px;
                            height: 16px;
                        }

                        .difficulty_span2,
                        .difficulty_span3 {
                            background-color: var(--secondary-color2);
                            border-radius: 50%;
                            width: 16px;
                            height: 16px;
                        }
                    }

                    &.medium {
                        .difficulty_span1,
                        .difficulty_span2 {
                            background-color: var(--yellow-color);
                            border-radius: 50%;
                            width: 16px;
                            height: 16px;
                        }

                        .difficulty_span3 {
                            background-color: var(--secondary-color2);
                            border-radius: 50%;
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
        }
    }

    &.group {
        background-color: transparent;

        /* stylelint-disable-next-line no-descending-specificity */
        .tag {
            color: var(--gray-color);
        }

        .LabItem {
            background-color: var(--inverted-bg-color);
        }

        .border {
            border: none;
        }

        .block_description {
            margin-top: 5px;
            color: var(--gray-color);
            background-color: var(--inverted-bg-color);
        }
    }
}

@keyframes animationleft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
