.block_members {
    background-color: var(--inverted-bg-color);
    border-radius: 9px;
    z-index: 1000;
    transition: all 0.5s ease;
    overflow: hidden;
    opacity: 0;
    height: 0;
    pointer-events: none;
    transform: translateY(-50px);

    &:not(.collapsed) {
        opacity: 1;
        height: 670px;
        margin-top: 10px;
        pointer-events: inherit;
        transform: translateY(0);
    }
}

// стили для SelectionMember
.block_members.memberStyle {
    margin-top: 10px;
    background-color: var(--inverted-bg-color);
    border-radius: 9px;
    z-index: 900;
    height: 670px;
    transition: all 0.5s ease;
    overflow: hidden;

    &.collapsed {
        opacity: 0;
        height: 0;
        transform: translateY(-50px);
    }
}

.block_main_list {
    overflow-y: auto;
    max-height: 570px;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background:
            linear-gradient(
                to bottom,
                transparent 0%,
                var(--inverted-bg-color2) 50%,
                transparent 100%
            );
        border-radius: 4px;
        margin: 20px 0;
    }

    &::-webkit-scrollbar-thumb {
        background:
            linear-gradient(
                to bottom,
                var(--secondary-color),
                var(--green-color)
            );
        border-radius: 4px;
        border: 2px solid var(--inverted-bg-color);
        transition: all 0.3s ease;

        &:hover {
            background:
                linear-gradient(
                    to bottom,
                    var(--green-color),
                    var(--secondary-color)
                );
            transform: scale(1.1);
        }

        &:active {
            background:
                linear-gradient(
                    to bottom,
                    var(--green-color),
                    var(--secondary-color)
                );
        }
    }

    /* Для Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) transparent;

    /* Для IE */
    scrollbar-face-color: var(--secondary-color);
    scrollbar-track-color: transparent;
}

/* Градиентные эффекты вверху и внизу скролла */
.block_main_list::before,
.block_main_list::after {
    content: "";
    position: fixed;
    left: 0;
    width: var(--sidebar-width);
    height: 20px;
    pointer-events: none;
    z-index: 2;
}

.block_main_list::before {
    top: 0;
    background:
        linear-gradient(
            to bottom,
            var(--inverted-bg-color) 0%,
            transparent 100%
        );
}

.block_main_list::after {
    bottom: 0;
    background:
        linear-gradient(
            to top,
            var(--inverted-bg-color) 0%,
            transparent 100%
        );
}

.memberWrapper {
    cursor: pointer;

    &:hover {
        background-color: rgb(255 255 255 / 5%);
    }
}
